@media (max-width: 576px) {
    /* Styles pour les très petits écrans */

    .wrapper{
        /* gap: 200px; */
    }

    .img-2
    {
        display: none;
    }

    .arrow
    {
        text-align: center;
        position: relative;
        cursor: pointer;
        bottom: unset;
        left: unset;
        margin: 10px 0px 10px 0px;
    
    }

    .arrow-container img {
        width: 35px;
    }

    .about-1 h2 {
        font-size: 2.5rem;
        text-align: left;
    }

    .section-two
    {
        padding: 5px;
    }

    .whats
    {
        padding-left: 5px;
        padding-right: 5px;
        height: 500px;
    }

    .listen_cat
    {
        padding: unset;
    }

    .projets-title h2 {
        font-size: 2.5rem;
        padding: 12px;
        text-align: right;
        /* width: 100%; */
    }

    .about-1
    {
        height: 450px;
    }


    .me 
    {
        padding-bottom: unset;
        padding-top: unset;
    }

    .card-projet
    {
        width: 250px;
        height: 190px;
        /* height: ; */
    }

    .arrow-container
    {
        display: flex;
        justify-content: flex-end;
    }

    .all-projets
    {
        width: 100%;
    }

    .ul-projet
    {
        padding: 15px;
    }

    .hs {
        width: auto;
        height: 100%;
    }

    /* .btn-a
    {
        font-size: 0.8rem;
    } */

    #border-me
    {
         display: none;
    }

    .container
    {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .explain
    {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .explain h2
    {
        font-size: 1.7rem;
    }

    .img-b
    {
        width: 60%;
    }

    .img-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-contact
    {
        position: relative;
        left: unset;
        bottom: unset;
        font-size: 0.9rem;
    }

    .div-one
    {
        height: 650px;
    }

    #titre
    {
        font-size: 3rem;
    }

    .blog
    {
        font-size: 0.8rem;
    }
/* 
    .about-1
    {
        font-size: 0.8rem;
    } */

    /* .section-two
    {
        padding: unset;
    } */

    .all-about
    {
        border-radius: unset;
    }
}





@media (max-width: 660px) {
    /* Styles pour les tablettes */

    .about-2
    {
        display: none!important;
    }

    .li-projet
    {
        font-size: 0.85rem;
    }

    .li-projet:hover {
        height: 450px;
        /* transform: scaleY(1); */
    }


}



@media (max-width: 900px) {
    /* Styles pour les tablettes */


    .li-projet
    {
        font-size: 0.75rem;
    }

    .all-about
    {
        width: 100%;
    }


}
