* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --bg-mode-base: linear-gradient(to bottom, rgb(36 29 75 / 80%), rgba(0, 0, 0, 0.95)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%);
    --bg-mode-base-oh: linear-gradient(to bottom, rgb(10 68 166 / 60%), rgba(0, 0, 0, 0.95)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%);
    --bg-mode-base-p1: linear-gradient(to bottom, rgb(10 68 166 / 60%), rgba(0, 0, 0, 0.95)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%);
    --bg-mode-base-p2: linear-gradient(to bottom, rgba(164, 53, 125, 0.51), rgba(0, 0, 0, 0.95)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%);
    --bg-mode-base-p3: linear-gradient(to bottom, rgb(10 166 44 / 60%), rgba(0, 0, 0, 0.95)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%);
    --bg-mode-base-p4: linear-gradient(to bottom, rgba(190, 87, 23, 0.6), rgba(0, 0, 0, 0.95)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%);

    --bg-mode-white:#ffffff;
    --bg-mode-base-c:rgb(0 0 0 / 77%);
    --text-white : white;
    --text-black : black;
}

.mode-base
{
    background-color: var(--bg-mode-base-c);
    background-image :var(--bg-mode-base);
    color: var(--text-white);
}

.btn-c-base
{
    /* width: clamp(350px, 60%, 800px); */
    width: 100%;
}


.btn-c-white a
{
    color: var(--text-black);
}

.mode-white
{
    background: var(--bg-mode-white);
    color: var(--text-black);
}

html {
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    width: 100%;
    background-color:#ffffff;
    /* height: 100vh; */
}

body
{
    width: 100%;
    /* min-height: 100vh; */
}

.wrapper
{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    /* gap: 100vh; */

}

section
{
    width: 100%;
    /* min-height: 100vh; */
}

.section-one
{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.div-one
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    padding: 12px;
}

.section-two,
.section-four
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

.bg-white
{
    background: #ffffff;
}

.section-three-spc
{
    color: rgb(0, 0, 0);
    z-index: 2;
    gap: 15px;
    display: flex;
}

.explication
{
    width: clamp(340px, 85%, 1050px);
    border: 1px solid rgb(202 190 190 / 28%);
    padding: 12px;
    margin: 5% auto;
}

.section-two
{
    padding: 35px;
}

#titre
{
    text-align: center;
    font-size: 7rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    /* color: white; */
}

.accueil
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: clamp(350px, 60%, 800px);
    gap: 15px;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    position: relative;
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    box-sizing: border-box;
     /* box-shadow: rgb(255 255 255 / 42%) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}


/* GESTION SCROSSBAR */

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}


.fade-in-base {
    opacity: 0;
    /* transform: translateY(10px); */
    /* transition: opacity 1.3s ease, transform 1.4s ease-in-out; */
    transition: opacity 2.5s ease-in;
}

.fade-in-base.visible {
    opacity: 1;
    /* transform: translateY(0); */
}

.fade-in-bottom {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 2s ease, transform 1s ease-in-out;
}

.fade-in-bottom.visible {
    opacity: 1;
    transform: translateY(0px);
}

.fade-in-top {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 2s ease, transform 1s ease-in-out;
}

.fade-in-top.visible {
    opacity: 1;
    transform: translateY(0px);
}



.fade-in-left {
  opacity: 0;
  /* transform: translateX(-100vw); */
  transform: translateX(-30vw);
  transition: opacity 1.8s ease, transform 1.2s ease-out;
  will-change: transform, opacity;
}

.fade-in-left.visible {
  opacity: 1;
  transform: translateX(0vw); /* elle revient à sa position normale */
}

.fade-in-right {
  opacity: 0;
  /* transform: translateX(-100vw); */
  transform: translateX(30vw);
  transition: opacity 1.8s ease, transform 1.2s ease-out;
  will-change: transform, opacity;
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0vw); /* elle revient à sa position normale */
}


.stick-me0
{
    position: sticky!important;
    top: 0;
    min-height: 100vh;
}

.height-100vh{
    min-height: 100vh;
}

.flex
{
    display: flex;
}

.f-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-me
{
    gap: 35px;
}

.justi-center
{
    justify-content: center;
}

.align-center
{
    align-items: center;
}

.img-container
{
    width: 100%;         
    max-width: 400px;
    padding: 10px;
    /* object-fit: contain; */
}

.img-b
{
    width: 100%;
    height: auto;
    display: block;
}

.gap-12
{
    gap: 12px;
}

.z-index-2
{
    z-index: 99;
}

.container
{
    width: 75%;
    /* height: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #ffffff; */
    padding: 10px;
    gap: 25px;
    position: relative;
    flex-direction: column;
}

#border-me
{
    width: 80%;
    height: 60%;
    position: absolute;
    border: 2px solid white;
}

.hs
{
    background-color: rgb(5 6 20);
    /* background-image: linear-gradient(to bottom, rgb(127 108 229 / 80%), rgb(17 33 79 / 95%)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(460px, 80%, 1100px);
    min-height: 460px;
    position: relative;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.explain
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.explain h2
{
    font-size: 2.5rem;
}

.btn-a
{
    text-decoration: none;
    padding: 7px 12px;
    min-width: 94px;
    text-align: center;
    color: var(--text-white);
    font-size: clamp(0.9rem, 1.2vw, 2.5rem);
}

.btn-a:hover
{
    transform: scale(0.95);
}

.max-w {
    width: 100%;;
}

.max-h
{
    height: 100%;
}

.z-index-base
{
    z-index: 9;
}

.z-index-1
{
    z-index: 99;
}

.fl-col
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fl-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#principal
{
    /* background-color: rgb(0 0 0 / 90%); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
    /* margin: 0; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: white; */
}

.btn-contact
{
    /* position: absolute; */
    background-color: white;
    left: 10px;
    bottom: 85px;
    width: 190px;
    font-size: 1.4rem;
}

#dev
{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8rem;
    font-style: italic;
}

section#projets {
  width: 100%;
  min-height: 100vh;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  /* background-color: #fbf1f1; */
  justify-content: flex-start;
  align-items: center;
  /* padding-top: 12px; */
  padding-bottom: 12px;
  gap: 45px;
  box-sizing: border-box;
}

.projets-title
{
    background-color: #f9f9fb;
    /* width: clamp(340px, 85%, 1050px); */
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

.all-logo
{
    display: flex;
    align-items: center;
    flex: 8;
    gap: 25px;
}

.all-logo img
{
    width: 90px;
    /* height: 90px; */
}

.projets-title h2
{
    font-size: 6.5rem;
    padding: 12px;
    /* width: 100%; */
    font-weight: 400;
    text-align: right;
}

.all-projets {
  width: 100%;
  overflow: hidden; 
}


.carroussel
{
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carroussel-slider
{
    /* overflow: hidden; */
    display: flex;
    gap: 10px;
    /* animation: swipe 10s linear infinite; */
}

.card-projet
{
    width: 417px;
    height: 236px;
    background-size: 417px 236px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    transition: transform 0.5s ease, box-shadow 0.3s ease, border-color 1s ease, background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.03); 
    /* border: 1px solid transparent; */
    cursor: pointer;
}


.card-projet:hover {
    border-color: rgba(255, 255, 255, 0.974); 
    background-color: rgba(255, 255, 255, 0.05); 
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.card-projet::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2); 
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: inherit;
}

.card-projet:hover::after {
  opacity: 1;
}


.card-projet::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#projet1.card-projet::before {
  background-image: var(--bg-mode-base-p1);
}

#projet2.card-projet::before {
  background-image: var(--bg-mode-base-p1);
}

#projet3.card-projet::before {
  background-image: var(--bg-mode-base-p1);
}

#projet4.card-projet::before {
  background-image: var(--bg-mode-base-p1);
}



.projet-1
{
    /* background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features112/v4/c5/84/4f/c5844f78-6490-2bcf-7f3b-1188f6a0288a/3a7bc10c-b414-498d-9b78-d21ab4efbe70.png/417x236.jpg); */
    background-image: url("../img/projet-1.png");
}

.projet-2
{
    background-image: url("../img/projet-2.png");
}

.projet-3
{
    background-image: url("../img/projet-3.png");
    /* background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features211/v4/03/36/de/0336dec4-8cdd-f206-03ce-4b68bdf29737/e0e01f1e-d50c-4154-835a-f1766ffa89da.png/417x236.jpg); */
}


.projet-4
{
    background-image: url("../img/projet-4.png");
    /* background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features/v4/dc/cf/89/dccf8922-21e7-765c-edea-bca02bbb1300/a4ca9f85-f07a-458e-a753-ae8e1b875466.png/196x196sr.jpg); */
}

.projet-5
{
    /* background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features221/v4/89/07/9c/89079c5b-29da-cd1f-4ce3-ad68f3d28a68/f0346506-4c9f-4be1-b275-11fa4004b103.png/286x161.jpg); */
}


.card-title
{
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

.expl
{
    color: white;
    font-size: 0.8rem;
    text-align: justify;
}


.card-container
{
    width: 25px;
    height: 25px;
    background-color: white;
    border: 1px solid white;
    display: block;
    padding: 10px;
    overflow: hidden;
    z-index: 55;
    border-radius: 50px;
    padding: 12px;
    justify-content: center;
    color: #000000;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 10px;
    transition: width 1s ease, height 0.5s ease, background-color 1s ease, border-radius 0.2s;
}

.card-container.visible {
  opacity: 1;
  visibility: visible;
}

.btn-details-projet
{
    padding: 12px;
    border-radius: 50px;
    width: 130px;
    height: 35px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
    transition: background-color 0.1s ease;
}

.btn-details-projet:hover
{
    background-color: rgb(226, 215, 215);
    /* color: black; */
}

.space-projet {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.global-pres {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.btn-details {
  display: inline-block;
  background: #3b4d63;
  color: white;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s;
}

.btn-details:hover {
  background: #2c3a4b;
}

.marge-projet
{
    margin: 10% auto;
}

.li-projet strong {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}

.global-pres {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 12px 0 0 0;
    text-align: justify;
    /* font-size: 0.9rem; */
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    hyphens: auto;
    height: 90%;
}

.space-projet
{
    height: 100%;
}

.details
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-details
{
    padding: 12px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    min-width: 150px;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.8;
    letter-spacing: 0.3px;
}

.stack
{
    width: 100%;
    text-align: center;
}

.b-radius
{
    border-radius: 8px;
}

.b-radius-top-r, .b-radius-top-r img
{
    border-top-right-radius: 8px;
}

.b-radius-bot-r, .b-radius-bot-r img
{
    border-bottom-right-radius: 8px;
}

.switch {
    position:absolute;
    top: 25px;
    right: 25px;
    display:inline-block;
    width: 60px;
    height: 33px;
    z-index: 9999!important;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 3px;
    background-color: rgb(30 48 87);
    transition: 0.4s;
    border-radius: 50px;
    transform: translateX(0);
        z-index: 9999;
}

.slider.active:before {
    transform: translateX(27px);
}

.slider {
    position: relative; 
    display: inline-block;
    width: 60px;
    height: 32px;
    background-color: #f0eeee;
    border-radius: 50px;
    cursor: pointer;
    z-index: 9999;
}


.all-about 
{
    display: flex;
    flex-direction: column;
    gap: 35px;
    /* min-height: 50%; */
    width: clamp(340px, 90%, 1200px);
    z-index: 3;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 120px;
}

.me
{
    display: flex;
    padding-top: 120px;
    gap: 25px;
    padding-bottom: 120px;
}

.whats
{
    font-size: clamp(2rem, 7vw, 4rem);
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    font-weight: 500;
    height: 600px;
    display: flex;
    z-index: 2;
    color: black;
    border-top: 1px solid rgb(203, 196, 196);
    border-bottom: 1px solid rgb(203, 196, 196);
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Cormorant Garamond', serif;
}

.listen_cat
{
    font-style: italic;
    font-weight: 100;
}


.talking_cat
{
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 8px solid wheat;
    /* font-style: italic; */
    padding: 10px;

}


.then_isGPT
{
    position: absolute;
    display: block;
    bottom: 10px;
    left: 25px;
    font-size: 1rem;
    font-style:italic;
    background-color: wheat;
}

.about-1
{
    display: flex;
    flex: 4;
    flex-direction: column;
    padding: 12px;
    font-size: clamp(0.8rem, 2vw, 1.1rem);
    gap: 25px;
    position: relative;
    height: 650px;
}


.image-one-carroussel,
.image-two-carroussel,
.image-three-carroussel,
.image-four-carroussel
{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}

.about-1 h2
{
    font-size: clamp(3rem, 6.5vw, 6rem);
    font-weight: 400;
}

.about-2
{
    flex: 4;
}


.projet
{
    min-width: 300px;
    width: 22%;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global
{
    width: 90%;
    min-height: 110px;
    background-color: #272f63;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    z-index: 2;
    position: absolute;
    padding: 03px 12px;
    bottom: 12%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.container-projet-1,
.container-projet-2,
.container-projet-3
{
    flex-grow: 1;
    /* background-color: red; */
    padding: 05px;
    font-size: 0.9rem;
}

.title-projet
{
    padding: 05px;
    border-bottom: 2px solid rgb(200, 189, 189);
}

.explain-me
{
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    hyphens: auto;
}

.next 
{
    background: white;
    width: 100%;
}

.arrow-container
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    flex-grow: 1;
    position: absolute;
    bottom: 0;
}

.arrow
{
    text-align: center;
    position: relative;
    cursor: pointer;
    bottom: unset;
    left: unset;
    margin: 10px 0px 10px 0px;
}

.arrow-container img
{
    width: 45px;
}

.jesuis,
.ecole,
.jeuxvideo,
.fetardunpeu
{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.ul-me
{
    list-style: none;
}


.can-scroll-down {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; 
  pointer-events: none; 
}

.arrow-down {
  width: 32px;
  height: auto;
  opacity: 0.7;
  animation: bounce 1.4s infinite;
  pointer-events: auto; 
  cursor: pointer;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes bounce-top {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.appear {
    display: block!important;
}


.arrow-up {
  width: 32px;
  display: none;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  animation: bounce-top 1.4s infinite;
  pointer-events: auto;
  cursor: pointer;
}

hr 
{
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    margin-top: 25px;
}