* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100vh;
}

body
{
    width: 100%;
    /* min-height: 100vh; */
}

.wrapper
{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 100vh;
}

section
{
    width: 100%;
    height: 100vh;
}

.section-one
{
    position: sticky;
    top: 0;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.div-one
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    padding: 12px;
}

.section-two,
.section-three,
.section-four
{
    background: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

#titre
{
    font-size: 4rem;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.accueil
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: clamp(460px, 80%, 800px);
    gap: 15px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    position: relative;
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    box-sizing: border-box;
     /* box-shadow: rgb(255 255 255 / 42%) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */ */
}

/* .accueil::before
{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid;
    border-image: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet, red) 1;
    border-image-slice: 1;
    animation: borderMove 1s ease infinite;
    z-index: 1;
    pointer-events: none; 
}

@keyframes borderMove {
    0% {
      border-image-source: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet, red);
    }
    100% {
      border-image-source: linear-gradient(450deg, red, orange, yellow, green, cyan, blue, violet, red);
    }
} */

#liseret
{
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: white;
    /* background:
  linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
  linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); */
}


/* .section-three
{
    background: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
 
} */


/* html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
} */

.fade-in {
    opacity: 0;
    /* transform: translateY(30px); */
    transition: opacity 1s ease, transform 2s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-base {
    opacity: 0;
    /* transform: translateY(10px); */
    /* transition: opacity 1.3s ease, transform 1.4s ease-in-out; */
    transition: opacity 1.3s ease;
}

.fade-in-base.visible {
    opacity: 1;
    /* transform: translateY(0); */
}

.stick-me0
{
    position: sticky!important;
    top: 0;
    min-height: 100vh;
}

.height-100vh{
    min-height: 100vh;
}

.flex
{
    display: flex;
}

.f-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-me
{
    gap: 35px;
}

.justi-center
{
    justify-content: center;
}

.align-center
{
    align-items: center;
}

.img-container
{
    width: 100%;         
    max-width: 400px;
    padding: 10px;
    /* object-fit: contain; */
}

.img-b
{
    width: 100%;
    height: auto;
    display: block;
}

.blog
{
    /* width: clamp(460px, 80%, 1100px); */
    /* justify-content: flex-end; */
}
.blog a 
{
    color: white;
}

.gap-12
{
    gap: 12px;
}

.z-index-2
{
    z-index: 99;
}

.container
{
    width: 75%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    padding: 10px;
    gap: 25px;
}

.hs
{
    background-color:#e34e2c8c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(460px, 80%, 1100px);
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.explain
{
    /* font-size: 1.7rem; */
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.explain h2, .nav-me h2
{
    font-size: 2.5rem;
}

.btn-a
{
    text-decoration: none;
    color: black;
    padding: 7px 12px;
    /* border: 1px solid black; */
    /* border-bottom:2px solid black; */
    /* border-radius: 8px; */
    min-width: 94px;
    text-align: center;
    /* transition: transform 2s ease; */
    /* transition: background-color 0.2s ease, transform 0.2s ease; */
}

.btn-a:hover
{
    transform: scale(0.95);
}

.max-w {
    width: 100%;;
}

.max-h
{
    height: 100%;
}

.z-index-base
{
    z-index: 9;
}

.z-index-1
{
    z-index: 99;
}

.fond_1
{
    /* object-fit: cover; */
    /* background : no-repeat center url("../img/fond_1.png"); */
}

/* .fond_1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5px);
    background-color: rgb(255 255 255 / 71%);
    z-index: 1;
} */
/* 
.section-general
{
    width: 100%;
    height: 100%;
    position: relative;
} */

.fl-col
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fl-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#principal
{
    background-color: rgb(0 0 0 / 77%);
}

#projets
{
    background-color: rgb(255 255 255);
}

.btn-contact
{
    position: absolute;
    background-color: white;
    left: 190px;
    bottom: 85px;
    width: 190px;
    font-size: 1.4rem;
}

.all-projets
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 12px;
    height: 70%;
    width: clamp(340px, 75%, 1050px);
    z-index: 3;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.all-about 
{
    display: flex;
    gap: 15px;
    height: 70%;
    width: clamp(340px, 75%, 1050px);
    z-index: 3;
    background-color: white;
}

.about-1
{
    flex: 4;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    align-items: flex-start;
    font-size: 0.9rem;
    gap: 25px;
    min-height: 80%;
    position: relative;
}


.image-one-carroussel,
.image-two-carroussel,
.image-three-carroussel,
.image-four-carroussel
{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.about-1 h3
{
    font-size: 2rem;
}

.about-2
{
    flex: 4;
}


.projet
{
    min-width: 300px;
    width: 22%;
    height: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global
{
    width: 90%;
    min-height: 110px;
    background-color: #272f63;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    z-index: 2;
    position: absolute;
    padding: 03px 12px;
    bottom: 12%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-bg-projets
{
    /* width: clamp(360px, 80%, 650px);
    min-height: 750px;
    opacity: 0.7;
    background-image: url("../img/fond_er.png");
    border-radius: 8px;
    position: absolute;
    right: 07%;
    z-index: 1;
    transform: rotate(180deg); */
}

.image-bg-about
{
    /* width: clamp(360px, 80%, 650px);
    min-height: 750px;
    opacity: 0.2;
    background-image: url("../img/fond_ef.png");
    border-radius: 8px;
    position: absolute;
    left: 07%;
    z-index: 1;
    transform: rotate(180deg); */
}

.projet-1
{
    background-image: url("../img/projet-1.png");
}

.projet-1::before,
.projet-2::before,
.projet-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    border-radius: 8px;
    /* border: 4px solid black; */
    /* background-color: rgb(255 255 255 / 46%); */
    background-color: rgb(182 218 231 / 40%);
    z-index: 1;
}

.container-projet-1,
.container-projet-2,
.container-projet-3
{
    flex-grow: 1;
    /* background-color: red; */
    padding: 05px;
    font-size: 0.9rem;
}

.title-projet
{
    padding: 05px;
    border-bottom: 2px solid rgb(200, 189, 189);
}

.projet-2
{
    background-image: url("../img/projet-2.png");
}

.projet-3
{
    background-image: url("../img/projet-3.png");
}

.explain-me
{
    text-align: justify;
    /* font-family: 'Georgia', serif; */
    font-size: 1.1rem;
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    margin-bottom: 1.5rem;
    hyphens: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.next 
{
    background: white;
    width: 100%;
}

.arrow
{
    width: 40px; 
    text-align: center;
    margin:  0 auto;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    right: 25px;
}

.jesuis,
.ecole,
.jeuxvideo,
.fetardunpeu
{
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.ul-me
{
    list-style: none;
}


.can-scroll-down {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* Assure que rien ne passe devant */
  pointer-events: none; /* Optionnel : si tu veux qu'elle ne bloque pas les clics derrière */
}

.arrow-down {
  width: 32px;
  height: auto;
  opacity: 0.7;
  animation: bounce 1.4s infinite;
  pointer-events: auto; /* Si tu veux garder le clic sur la flèche */
  cursor: pointer;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes bounce-top {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.appear {
    display: block!important;
}


.arrow-up {
  width: 32px;
  display: none;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  animation: bounce-top 1.4s infinite;
  pointer-events: auto;
  cursor: pointer;
}

hr 
{
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    margin-top: 25px;
}

/*  Faire quelque chose avec ca : */

/* transition: transform .7s ease-in-out, opacity .8s ease-in-out; */