* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
  --bg-mode-base: linear-gradient(to bottom, rgb(36 29 75 / 80%), rgba(0, 0, 0, 0.95)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%);
  --bg-mode-white:#ffffff;
  --bg-mode-base-c:rgb(0 0 0 / 77%);
  --text-white : white;
  --text-black : black;
}

.mode-base
{
    background-color: var(--bg-mode-base-c);
    background-image :var(--bg-mode-base);
    color: var(--text-white);
}

.btn-c-base a
{
    color: var(--text-white);
}

.btn-c-white a
{
    color: var(--text-black);
}

.mode-white
{
    background: var(--bg-mode-white);
    color: var(--text-black);
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: 100%;
    /* height: 100vh; */
}

body
{
    width: 100%;
    /* min-height: 100vh; */
}

.wrapper
{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* gap: 100vh; */
}

section
{
    width: 100%;
    min-height: 100vh;
}

.section-one
{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.div-one
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    padding: 12px;
}

.section-two,
.section-four
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

.bg-white
{
    background: #ffffff;
}

.section-three-spc
{
    color: rgb(0, 0, 0);
    z-index: 2;
    gap: 15px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.explication
{
    width: clamp(340px, 85%, 1050px);
    border: 1px solid rgb(202 190 190 / 28%);
    padding: 12px;
    margin: 5% auto;
}

.section-two
{
    padding: 35px;
}
/* .section-three
{
    min-height: 100vh;
} */

#titre
{
    text-align: center;
    font-size: 6.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    /* color: white; */
}

.accueil
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: clamp(350px, 60%, 800px);
    gap: 15px;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
    padding-right: 1.1rem;
    padding-left: 1.1rem;
    position: relative;
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    box-sizing: border-box;
     /* box-shadow: rgb(255 255 255 / 42%) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

/* .accueil::before
{
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid;
    border-image: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet, red) 1;
    border-image-slice: 1;
    animation: borderMove 1s ease infinite;
    z-index: 1;
    pointer-events: none; 
}

@keyframes borderMove {
    0% {
      border-image-source: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet, red);
    }
    100% {
      border-image-source: linear-gradient(450deg, red, orange, yellow, green, cyan, blue, violet, red);
    }
} */

#liseret
{
    width: 2px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: white;
    /* background:
  linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
  linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); */
}


/* .section-three
{
    background: #ffffff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
 
} */


/* html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
} */

.fade-in {
    opacity: 0;
    /* transform: translateY(30px); */
    transition: opacity 1s ease, transform 2s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-base {
    opacity: 0;
    /* transform: translateY(10px); */
    /* transition: opacity 1.3s ease, transform 1.4s ease-in-out; */
    transition: opacity 2.5s ease-in;
}

.fade-in-base.visible {
    opacity: 1;
    /* transform: translateY(0); */
}

.stick-me0
{
    position: sticky!important;
    top: 0;
    min-height: 100vh;
}

.height-100vh{
    min-height: 100vh;
}

.flex
{
    display: flex;
}

.f-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap-me
{
    gap: 35px;
}

.justi-center
{
    justify-content: center;
}

.align-center
{
    align-items: center;
}

.img-container
{
    width: 100%;         
    max-width: 400px;
    padding: 10px;
    /* object-fit: contain; */
}

.img-b
{
    width: 100%;
    height: auto;
    display: block;
}

.blog
{
    /* width: clamp(460px, 80%, 1100px); */
    /* justify-content: flex-end; */
}
.blog a 
{
    /* color: white; */
}

.gap-12
{
    gap: 12px;
}

.z-index-2
{
    z-index: 99;
}

.container
{
    width: 75%;
    /* height: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #ffffff; */
    padding: 10px;
    gap: 25px;
    position: relative;
    flex-direction: column;
}

#border-me
{
    width: 80%;
    height: 60%;
    position: absolute;
    border: 2px solid white;
}

.hs
{
    background-color: rgb(5 6 20);
    /* background-image: linear-gradient(to bottom, rgb(127 108 229 / 80%), rgb(17 33 79 / 95%)), radial-gradient(circle at center, rgba(255, 255, 255, 0.1), transparent 80%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(460px, 80%, 1100px);
    min-height: 460px;
    position: relative;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.explain
{
    /* font-size: 1.7rem; */
    /* width: 35%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.explain h2
{
    font-size: 2.5rem;
}

.btn-a
{
    text-decoration: none;
    padding: 7px 12px;
    min-width: 94px;
    text-align: center;
    /* transition: transform 2s ease; */
    /* transition: background-color 0.2s ease, transform 0.2s ease; */
}

.btn-a:hover
{
    transform: scale(0.95);
}

.max-w {
    width: 100%;;
}

.max-h
{
    height: 100%;
}

.z-index-base
{
    z-index: 9;
}

.z-index-1
{
    z-index: 99;
}

.fond_1
{
    /* object-fit: cover; */
    /* background : no-repeat center url("../img/fond_1.png"); */
}

/* .fond_1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5px);
    background-color: rgb(255 255 255 / 71%);
    z-index: 1;
} */
/* 
.section-general
{
    width: 100%;
    height: 100%;
    position: relative;
} */

.fl-col
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fl-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#principal
{
    /* background-color: rgb(0 0 0 / 90%); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* height: 100vh; */
    /* margin: 0; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: white; */
}

#projets
{
    background-color: rgb(255 255 255);
}

.btn-contact
{
    /* position: absolute; */
    background-color: white;
    left: 10px;
    bottom: 85px;
    width: 190px;
    font-size: 1.4rem;
}


/* .li-projet {
    border-bottom: 1px solid #eee;
    max-height: 100px;
    overflow: hidden;
    transition: max-height .02s ease, padding 3s ease, border-bottom 0.1s ease, padding 1.5s ease;
}

.li-projet:hover {
    border-bottom: 1px solid black;
    padding: 180px;
    max-height: 500px;
} */

/* .li-projet {
    border-bottom: 1px solid #eee;
    max-height: 100px;
    overflow: hidden;
    transition: max-height .02s ease, padding 3s ease, border-bottom 0.1s ease, padding 1.5s ease;
}

.li-projet:hover {
    border-bottom: 1px solid black;
    padding: 180px;
    max-height: 500px;
} */

/* .li-projet {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s ease, border-bottom 0.1s ease;
    border-bottom: 1px solid #eee;
}

.li-projet:hover {
    transform: scaleY(1.5); 
    border-bottom: 1px solid black;
} */

/* .li-projet::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    background-color: #2b2b2b21;
} */

/************ AVANT *********/
/* CONTAINER DES PROJETS */
/* .all-projets {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 3;
    overflow: hidden;

}


.ul-projet {
    display: flex;
    gap: 35px;
    height: 100%;
    list-style: none;
    padding: 12px;
    align-items: stretch;
    color: black;
    align-items: center;
    width: 3000px;
}

.li-projet {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    overflow: hidden;
    font-size: 0.9rem;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    transform-origin: top;
    width: 500px;
} */

/* APRES */



section#projets {
  width: 100%;
  min-height: 100vh;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 25px;
  box-sizing: border-box;
}

.projets-title
{
    background-color: #f7f5f5;
    width: clamp(340px, 85%, 1050px);
    padding: 12px;
}

.projets-title h2
{
    font-size: 6.5rem;
    padding: 12px;
    /* width: 100%; */
    font-weight: 400;
    text-align: right;
}

.all-projets {
  width: 100%;
  overflow: hidden; 
}

.carroussel
{
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carroussel-slider
{
    /* overflow: hidden; */
    display: flex;
    gap: 10px;
    /* animation: swipe 10s linear infinite; */
}

.card-projet
{
    width: 417px;
    height: 236px;
    background-size: 417px 236px;
    background-repeat: no-repeat;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, box-shadow 0.3s ease, border-color 1s ease, background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.03); /* léger contraste */
    border: 1px solid transparent;
    cursor: pointer;
}


.card-projet:hover {
    border-color: rgba(255, 255, 255, 0.974); /* fine bordure visible */
    background-color: rgba(255, 255, 255, 0.05); /* un peu plus clair au hover */
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1; /* pour passer au-dessus des autres */
}

.card-projet::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2); /* léger voile noir */
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: inherit;
}

.card-projet:hover::after {
  opacity: 1;
}


.card-projet::before
{
    content: '';
    position: absolute;
    background: #000000ab;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.btn-details
{
    /* display: none; */
}




.card-projet:hover 
{
    
}
/* .card-projet a
{
    display: none;
} */



.projet-1
{
    /* background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features112/v4/c5/84/4f/c5844f78-6490-2bcf-7f3b-1188f6a0288a/3a7bc10c-b414-498d-9b78-d21ab4efbe70.png/417x236.jpg); */
    background-image: url("../img/projet-1.png");
}

.projet-2
{
    background-image: url("../img/projet-2.png");
}

.projet-3
{
    background-image: url("../img/projet-3.png");
    /* background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features211/v4/03/36/de/0336dec4-8cdd-f206-03ce-4b68bdf29737/e0e01f1e-d50c-4154-835a-f1766ffa89da.png/417x236.jpg); */
}


.projet-4
{
    background-image: url("../img/projet-4.png");
    /* background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features/v4/dc/cf/89/dccf8922-21e7-765c-edea-bca02bbb1300/a4ca9f85-f07a-458e-a753-ae8e1b875466.png/196x196sr.jpg); */
}

.projet-5
{
    /* background-image: url(https://is1-ssl.mzstatic.com/image/thumb/Features221/v4/89/07/9c/89079c5b-29da-cd1f-4ce3-ad68f3d28a68/f0346506-4c9f-4be1-b275-11fa4004b103.png/286x161.jpg); */
}


.card-title
{
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    /* text-transform: uppercase; */

}


.card-container
{
    width: 15px;
    height: 15px;
    border: 1px solid white;
    display: block;
    padding: 10px;
    overflow: hidden;
    z-index: 55;
    border-radius: 8px;
    padding: 12px;
    justify-content: center;
    color: white;
    align-items: center;
    transition: width 2.5s ease, height 1s ease;
}

.card-container.visible {
  opacity: 1;
  visibility: visible;
}

.btn-details-projet
{
    padding: 12px;
    border-radius: 50px;
    width: 55%;
    height: 35px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 0.8rem;
    line-height: 0.3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto;
}
/* 
.card-container
{
    color: white;
    width: 100%;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #ffffff;
    hyphens: auto;
    padding: 10px;
    font-size: 0.9rem;
    z-index: 1;
} */

/* ESPACEMENT INTERNE */
.space-projet {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* CONTENU GLOBAL */
.global-pres {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




/* BOUTON */

.btn-details {
  display: inline-block;
  background: #3b4d63;
  color: white;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s;
}
.btn-details:hover {
  background: #2c3a4b;
}


/* #projet-1::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #140b0b29;
    overflow: hidden;
} */

.marge-projet
{
    margin: 10% auto;
}

.li-projet strong {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}


.global-pres {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 12px 0 0 0;
    text-align: justify;
    /* font-size: 0.9rem; */
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    hyphens: auto;
    height: 90%;
}


.space-projet
{
    height: 100%;
}

.details
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-details
{
    padding: 12px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 50px;
    min-width: 150px;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.8;
    letter-spacing: 0.3px;
}

.stack
{
    width: 100%;
    text-align: center;
}

#projet-1
{
    /* background: url("../img/projet-1.png");
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative; */
}

.b-radius
{
    border-radius: 8px;
}

.b-radius-top-r, .b-radius-top-r img
{
    border-top-right-radius: 8px;
}

.b-radius-bot-r, .b-radius-bot-r img
{
    border-bottom-right-radius: 8px;
}

.switch {
    position:absolute;
    top: 25px;
    right: 25px;
    display:inline-block;
    width: 60px;
    height: 33px;
    z-index: 9999!important;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 3px;
    background-color: rgb(30 48 87);
    transition: 0.4s;
    border-radius: 50px;
    transform: translateX(0);
        z-index: 9999;
}

.slider.active:before {
    transform: translateX(27px);
}

.slider {
    position: relative; 
    display: inline-block;
    width: 60px;
    height: 32px;
    background-color: #f0eeee;
    border-radius: 50px;
    cursor: pointer;
    z-index: 9999;
}





.all-about 
{
    display: flex;
    gap: 15px;
    min-height: 50%;
    width: clamp(340px, 85%, 1200px);
    z-index: 3;
    background-color: white;
    border-radius: 8px;
}

.about-1
{
    display: flex;
    flex: 4;
    flex-direction: column;
    /* justify-content: center; */
    padding: 12px;
    /* align-items: flex-start; */
    font-size: 0.9rem;
    gap: 25px;
    /* min-height: 80%; */
    position: relative;
    height: 580px;
}


.image-one-carroussel,
.image-two-carroussel,
.image-three-carroussel,
.image-four-carroussel
{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.about-1 h2
{
    font-size: 6.5rem;
    font-weight: 400;
    /* text-align: center; */
}

.about-2
{
    flex: 4;
}


.projet
{
    min-width: 300px;
    width: 22%;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.global
{
    width: 90%;
    min-height: 110px;
    background-color: #272f63;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    z-index: 2;
    position: absolute;
    padding: 03px 12px;
    bottom: 12%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-bg-projets
{
    /* width: clamp(360px, 80%, 650px);
    min-height: 750px;
    opacity: 0.7;
    background-image: url("../img/fond_er.png");
    border-radius: 8px;
    position: absolute;
    right: 07%;
    z-index: 1;
    transform: rotate(180deg); */
}

.image-bg-about
{
    /* width: clamp(360px, 80%, 650px);
    min-height: 750px;
    opacity: 0.2;
    background-image: url("../img/fond_ef.png");
    border-radius: 8px;
    position: absolute;
    left: 07%;
    z-index: 1;
    transform: rotate(180deg); */
}

/* .projet-1
{
    background-image: url("../img/projet-1.png");
}

.projet-1::before,
.projet-2::before,
.projet-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    border-radius: 8px;
    background-color: rgb(182 218 231 / 40%);
    z-index: 1;
} */

.container-projet-1,
.container-projet-2,
.container-projet-3
{
    flex-grow: 1;
    /* background-color: red; */
    padding: 05px;
    font-size: 0.9rem;
}

.title-projet
{
    padding: 05px;
    border-bottom: 2px solid rgb(200, 189, 189);
}
/* 
.projet-2
{
    background-image: url("../img/projet-2.png");
}

.projet-3
{
    background-image: url("../img/projet-3.png");
} */

.explain-me
{
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 0.3px;
    color: #2b2b2b;
    hyphens: auto;
}

.next 
{
    background: white;
    width: 100%;
}

.arrow-container
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    flex-grow: 1;
}

.arrow
{
    text-align: center;
    position: relative;
    cursor: pointer;
    bottom: unset;
    left: unset;
    margin: 10px 0px 10px 0px;
}

.arrow-container img
{
    width: 65px;
}

.jesuis,
.ecole,
.jeuxvideo,
.fetardunpeu
{
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.ul-me
{
    list-style: none;
}


.can-scroll-down {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* Assure que rien ne passe devant */
  pointer-events: none; /* Optionnel : si tu veux qu'elle ne bloque pas les clics derrière */
}

.arrow-down {
  width: 32px;
  height: auto;
  opacity: 0.7;
  animation: bounce 1.4s infinite;
  pointer-events: auto; /* Si tu veux garder le clic sur la flèche */
  cursor: pointer;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes bounce-top {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.appear {
    display: block!important;
}


.arrow-up {
  width: 32px;
  display: none;
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  animation: bounce-top 1.4s infinite;
  pointer-events: auto;
  cursor: pointer;
}

hr 
{
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 25px;
    margin-top: 25px;
}

/*  Faire quelque chose avec ca : */

/* transition: transform .7s ease-in-out, opacity .8s ease-in-out; */